DB_USER = "avnadmin"
DB_PASSWORD = "your_aiven_password_here"
DB_HOST = "your-service-name.aivencloud.com"
DB_PORT = "12793"
DB_NAME = "credit_risk_platform"
DB_SSL_CA = """
-----BEGIN CERTIFICATE-----
...
-----END CERTIFICATE-----
"""
